
.sidebar-panel-left{
    grid-area: left;
    background-color: blue;
    color: white;
    padding: 1rem;
}
header{
    grid-area: header;
}
.main-content-right{
    grid-area: main;
}
.grid-container{
    display: grid;
    grid-template-columns: 220px 1fr 260px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "left header right"
        "left main   right";
    min-height: 100vh;
    gap: 1rem;
}


.sidebar-panel-right-grid{
    grid-area: right;
    background: grey;
    padding: 1rem;
}

.main-content-right{
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: grey;
}
.card{
    max-width: 500px;
    max-height: 400px;
    margin: 1em auto;

    display: grid;
  
    background-color: green;
    padding: 100px;
    margin-top: 20px;
    border-radius: 10px;

}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr;

}
.side-cards{
    background-color: red;
    margin: 1em auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    max-height: 200px;
}