
.sidebar-panel-left{
    grid-area: left;
    background-color: blue;
    color: white;
}
header{
    grid-area: header;
}
.main-content-right{
    display:flex;
    flex-direction: column;
    justify-content:center;
    grid-area: right;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "left header"
    "left right";
    min-height: 100vh;
}

.main-content-right{
    grid-area: right;
    display: flex;
    flex-direction: column;
    background-color: grey;
}
.card{
    max-width: 500px;
    max-height: 400px;
    margin: 1em auto;

    display: grid;
  
    background-color: green;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;

}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;

}